@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-black text-white;
}

.calendar-dark .react-calendar {
  background-color: #111827;
  border: none;
  color: white;
  width: 100%;
}

.calendar-dark .react-calendar__navigation button {
  color: white;
  background: none;
}

.calendar-dark .react-calendar__tile {
  background: none;
  color: #D1D5DB;
}

.calendar-dark .react-calendar__tile--active {
  background: #3B82F6;
  color: white;
  border-radius: 8px;
}

.calendar-dark .react-calendar__tile:hover {
  background: #1F2937;
  border-radius: 8px;
}

.calendar-dark .react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 12px;
  color: #9CA3AF;
}